$light-green-color: #549C74;
// Cadet Blue - a kind of light green
$body-bg: #D0B6AB;
// Rosy Brown - a kind of pink
$dark-text-color: #2D3C24;
// Dark Olive Green - a kind of dark green. Good for dark text
$white-text-color: #EBE8E7;
// White Smoke - a kind of light pink. Good for white text
$second-bg: #818985;
// secondary-background-color: #818985 _ Slate Grey - a kind of grey. Good for backgrounds