footer {
    text-align: center;
}

$light-green-color: #549C74;
// Cadet Blue - a kind of light green
$body-bg: #D0B6AB;
// Rosy Brown - a kind of pink
$dark-text-color: #2D3C24;
// Dark Olive Green - a kind of dark green. Good for dark text
$white-text-color: #EBE8E7;
// White Smoke - a kind of light pink. Good for white text
$second-bg: #818985;
// secondary-background-color: #818985 _ Slate Grey - a kind of grey. Good for backgrounds
.btn {
    background-color: $second-bg;
}

// .jumbotron {
//     background-image: url("img\adrian_serious_painting.jpg");}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/adrian_serious_painting.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white-text-color;
    text-shadow: black 0.3em 0.3em 0.3em;
    &:hover {
        background-image: url(../img/teddy.jpg);
        margin:auto;
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        color: transparent;
    }
    &.with-fast-transition {
        transition-duration: 0.5s;
    }
    &.with-slow-transition {
        transition: 5s;
    }
}

.card-body {
    display: block;
    width: 100%;
    height: 100%;
}

.progress {
    padding-bottom: 2em;
    margin-bottom: 1em;
    position: relative;
    height: 1.8em;
    border-color: white;
}

.beard {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    background-color: #549C74;
    color: #EBE8E7;
}

.skill_text {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px; // padding-left: 2em;
    // position: absolute;
    // right: 0;
}

li {
    border-color: white;
}